body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 28%, 82%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
   text-align: center;
}

h1{
  color: #383333;
}

.clock {
   background-color: #929292;
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
   width: 300px;
}

#time{
   font-size: 2rem;
   margin-bottom: 20px;
}

#alarmTime {
    display: flex;
    justify-content: center;
    align-items: center;
}

#alarm {
   margin-right: 10px;
}
  
button {
   padding: 8px 16px;
   border: none;
   background-color: #007bff;
   color: #fff; 
   cursor: pointer;
   border-radius: 5px;
}
  
button:hover {
   background-color: #0056b3;
}